@charset "utf-8";

/* main.css */


main{}
#main_intro{
    height: 100vh;/*내가 보는 화면의 높이에 꽉차게 해줌(뷰 하이트)*/
    overflow: hidden;
    position: relative;
}
#main_intro > h2{
    display: none;
}
#main_intro article{
    position: absolute;
    width: 100%;
    top: 46%;transform: translateY(-80%);
    z-index: 100;/*영상위에 글씨가 올라가도록 zid값 줌*/
    text-align: center;
    color: var(--t-color02);
}
#main_intro article >h3{
    font-size: 60px;
    font-weight: bold;
}
#main_intro article>p{
    line-height: 80px;
    font-size: 16px;
}

#main_intro article a{
    font-size: var(--t-size14);
    color: var(--t-color02);
    text-decoration: underline;
    margin: 0px 20px;
    padding: 5px 10px;
}
#main_intro article a:first-of-type{
    background: #006eff;
}
.next_btn{
    width: 30px;height: 30px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: block;
    transform: rotate(-45deg);
    position: absolute;z-index: 1000;/*z-index값 줄 때 포지션 준 후에 주기,,,,,(?)*/
    bottom: 40px;
    left: 50%;
    text-indent: -9999px;
}
#top3, #test, #event, #buy, #cs{
    margin: 150px auto;
    width: 1200px;
    /* overflow: hidden; */
    /*스와이퍼 슬라이드 보이는 거 숨기기 위해서*/
}

/* 메인 콘텐츠 공통 제목서식 */
main section>h2{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
.p01{
    text-align: center;
    font-size: var(--t-size14);
    line-height: 50px;
}

/* 스와이퍼 슬라이드 서식 */
#top3 .swiper-slide{
    text-align: center;
}
.top3{
    margin-top: 70px;
    position: relative;/*위에 가 있는 좌우 버튼이 제자리를 찾기위해서 부모에게 포지션을 줌*/
}
.top3 .rank{
    color: #327186;
    border: 1px solid #327186;
    padding: 6px 30px;
    border-radius: 20px;
    font-size: var(--t-size14);
}
.top3_title{
    font-size: 26px;
    font-weight: 500;
    color: #043e96;
    padding-top: 30px;
}

/* 자동차 사진 서식 */
.top3 img{
    padding: 80px 0px;
    width: 400px;
    transition: 1.5s;/*시간을 지정해주면 크기가 커지는 것이 보임*/
    transition-timing-function: cubic-bezier(0.1, 1.0);
    transform: scale(0.6);
}
.swiper-slide-active img{/*액티브 안의 이미지에게 크기를 주는 것임*/
    transform: scale(1.3);
}

/* 자동차 상세 내용 서식 */
.top3 .detail{
    display:flex;
    justify-content:center;
    padding-bottom:60px;
}
.top3 .detail li{
    width: 180px;
    border-right: 1px solid #ccc;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    
}
.outer_color, .inner_color{
    display: inline-block;
    width: 56px;height:40px;
    text-indent: -9999px;
    float:left;/*색깔 왼쪽, 글자 오른쪽으로 한줄 배치하기 위해서*/
    margin-right: 30px;
}
.kaki{
    background: #494b3e;
}
.black{
    background: #000;
}
.white{
    background: #fff;
    border: 1px solid #CCC;
}
.detail li:last-child{
    color: #043e96;
    border-right: none;
    padding-top: 6px;
}

/* 차량 가격정보 */
.price{
    font-size: 32px;
    font-weight: bold;
}

/* 견적내기 버튼 */
.btn{
    font-size: var(--t-size16);
    /* line-height: 50px; */
    border: 1px solid #333;
    padding: 10px 0px;
    width: 150px;background: none;
    font-weight: bold;
    transition:0.5s;
    cursor:pointer;
}
.btn:hover{
    color: var(--t-color02);
}

/* 스와이퍼 슬라이드 페이지네이션2 */
.swiper-pagination2{
    text-align: center;
    transform: translateY(50px);
    
}
.g_btn{
    width: 100px;
    background: #fff;
}
/* 버튼 오버시 배경색 */
.b_btn:hover{background: #00f;}
.g_btn:hover{background: #333;}



/*2. 소개페이지 서식 */
#intro{
    text-align: center;
    position: relative;
    height: 860px;/*영상을 줄이기위해  부모에게 높이를 주고 오버플:히든 함*/
}
#intro h2, .intro_title_left,.intro_title_right, .g_btn{
    position: absolute;
    z-index: 2;
}
#intro video{
    position: absolute;
    left: 0;top: 0;
    z-index: 1;
}
#intro h2{
    /* 포지션 걸리면 w값 안먹혀서 따로 줌 */
    width: 100%;
    text-align: center;/*글자 가운데 배치*/
    margin: 80px 0px;
}
.g_btn{
    bottom: 20px;
    transform: translateX(-50%);
}
.intro_title_left, .intro_title_right{
    font-size: 30px;
    font-weight: bold;
}
.intro_title_left{
    text-align: left;
    left: 150px;
    top: 200px;
}
.intro_title_right{
    text-align: right;
    right: 150px;
    bottom: 120px;
}


/* 3. 시승 신청 서식 */
#test{
    text-align: center;
}
#test article{
    border: 1px solid #ccc;
    width: 430px;height: 260px;
    padding: 15px;
    display: inline-block;/*나란히 배치하기 위해서*/
    vertical-align: middle;/*수평 맞추기*/
    margin-top: 50px;
}
.test_drive_l{

    margin-right: 30px;

}
.test_drive_r{

}
#test h3{
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}
#test article> .p02{
    font-size: 18px;
    padding: 15px;
}
#test article>a{
    display: block;
    margin: 15px auto;
}
.test1{
    font-size: 16px;
    color: #fff;
    line-height: 50px;
    width: 150px;height: 50px;
    background: rgb(26, 26, 128);
    
}
.test2{
    font-size: 16px;
    color: #4184e8;
    
}
.p03{
position: relative;
}
.test_drive_l> .p03{
    transform:translateY(50px);
    
}
.test_drive_r> .p03{
    transform:translateY(82px);
}




/* 4. 이벤트 배너 */
#event{
    background: #e6e6e6;
    width: 100%;height: 500px;
    padding: 60px;
}

/* 1200X300 4장(이미지크기)
    +페이지내이션
*/
.e_banner{
    position: relative;
    width: 1200px;height: 440px;
    margin: 40px auto 0px auto;
    overflow:hidden;
}
.e_banner ul{
    display: flex;
    width: 4800px;/*1200X300 4장*/
    position: absolute;/*사진 4장이 부모기준으로 움직일 거니까 포지션을 걸어줬음*/
}
.e_banner ul img{
    width: 1200px;
    height: 300px;
}
.e_banner .ctrl_btn{
    width: 280px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 90px;left: 50%;
    transform: translateX(-50%);
}
.e_banner .ctrl_btn span{
    width: 60px;height: 10px;
    background: #ccc;
    display: inline-block;
}
.act1{
    background: #333 !important;
}


/* 캐스퍼 구매 안내 */
#buy{
    text-align: center;
}
#buy>h3{
    font-size: 24px;
    font-weight: 500;
    padding: 60px 0px;
}
.t_color{
    color: var(--t-color03);
}
#buy ul{
    width: 1000px;
    margin: 0px auto;
    /* border: 1px solid #000; */
}
.clearfix::after{/* float:left//부모의 높이가 사라져서 부모 높이를 살리기위해 써준 서식들임*/
    clear: both;
    display: block;
    content: "";
}
#buy ul li h4{
    font-size: var(--t-size16);
    font-weight: bold;
}
#buy ul li{
    width: 33.3333%;
    float: left;
    margin-bottom: 60px;
}
#buy ul li img{
    width: 70px;
    padding: 15px 0px;
}
#buy ul li .p03{
    line-height: 20px;
}

#buy iframe{
    width: 1000px;height: 560px;
    border: none;
}



